langchain==0.2.0
langchain-openai==0.1.8
langchain-community==0.2.0
langchain-core==0.2.2
langchain-ollama==0.1.0
langchain-text-splitters==0.2.0
faiss-cpu==1.8.0
numpy==1.26.4
python-dotenv==1.0.0
streamlit==1.35.0
openai==1.26.0
requests==2.31.0
pandas==2.2.0
sentence-transformers==2.5.1
langchain-huggingface==0.1.0
torch==2.2.0
transformers==4.37.0
together==1.1.0
supabase==2.3.4